.ColorGroups {
  width: 100%;
}

.ColorGroupsTitle {
  font-size: 11px;
  margin: 0;
  width: 100%;
  background-color: var(--bg-3);
  color: var(--txt-3);
  font-weight: normal;
  padding: 0 8px;
  line-height: 22px;
}

.ColorGroupsTitle span {
  color: var(--txt-4);
  margin-left: 5px;
}

.ColorGroupsItems {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  background: var(--bg-2);
  font-size: 12px;
}

.ColorGroupsItem {
  width: auto;
  height: 50px;
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background: var(--bg-2);
  font-size: 12px;
}

.ColorGroupsItemColor {
  width: 30px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  margin-right: 5px;
}

.ColorGroupsItemTitle {
  margin-right: 20px;
  color: var(--txt-1);
  display: flex;
}

.ColorGroupsItemTitle span {
  margin-left: 5px;
  color: var(--txt-5);
  font-size: 10px;
}

.ColorGroupsItemColorPicker {
  position: absolute;
  bottom: calc(130px + 30px);
}
