.EditorIconInfo {
  font-size: 11px;
  margin-left: auto;
  color: #777;
}

.EditorIconInfo span {
  margin-left: 15px;
  display: inline-flex;
  align-items: center;
}

.EditorIconInfo svg {
  margin-right: 5px;
}
