.UploadButton {
  font-size: 12px;
  user-select: none;
  width: 100%;
}

.UploadButton label {
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
}

.UploadButton svg {
  margin-right: 5px;
}

.UploadButton input {
  position: absolute;
  visibility: hidden;
  pointer-events: none;
}

.UploadButton span {
  color: var(--txt-4);
  position: absolute;
  right: 20px;
  font-size: 10px;
  font-weight: bold;
}
