.UploadButton {
  font-size: 12px !important;
  user-select: none;
}

.UploadButton label {
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 100%;
}

.UploadButton svg {
  margin-right: 5px;
}

.UploadButton input {
  position: absolute;
  visibility: hidden;
  pointer-events: none;
}
