.EditorTool {
  width: 100%;
  height: 400px;
  border-top: 1px solid #333;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background: #1a1e22;
}

.EditorToolTitle {
  font-size: 11px;
  margin: 0;
  width: 100%;
  background-color: #20232a;
  color: #bdc3bc;
  font-weight: normal;
  padding: 0 8px;
  line-height: 22px;
}

.EditorToolItem {
  height: 30px;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  width: 100%;
  border-bottom: 1px solid #333;
  display: flex;
  align-items: center;
}

.EditorToolItem:hover {
  background-color: #23272e;
}

.EditorToolItemTitle {
  margin-right: 20px;
  color: #fff;
  user-select: none;
  display: flex;
}

.EditorToolItemTitle span {
  margin-left: 8px;
  color: #aaa;
}

.EditorToolItemValue {
  padding-right: 10px;
  width: 100%;
  color: #444;
  overflow-x: hidden;
  display: flex;
  align-items: center;
}

.EditorToolItemValue span {
  line-height: 30px;
  user-select: none;
}

.EditorToolItems {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background: #1a1e22;
}

.EditorToolColorGroupItems {
  width: 120px;
  /* height: 50px; */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background: #1a1e22;
  font-size: 12px;
}

.EditorToolColorGroupItem {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background: #1a1e22;
  font-size: 12px;
}

.EditorToolItemColor {
  width: 30px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  margin-right: 10px;
}

.EditorToolItemColorWheel {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.EditorToolColorPicker {
  position: absolute;
  bottom: calc(130px + 30px);
}

.EditorToolRemoveIcon {
  color: #aaa;
  margin-left: 10px;
  display: none !important;
  cursor: pointer;
}

.EditorToolItem:hover .EditorToolRemoveIcon {
  display: block !important;
}

.EditorToolRemoveIcon:hover {
  color: #eee;
}
