.EditorTool {
  width: 100%;
  height: 300px;
  border-top: 1px solid #333;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  background: #1a1e22;
}

.EditorToolItem {
  height: 30px;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  width: 100%;
  border-bottom: 1px solid #333;
  display: flex;
  align-items: center;
}

.EditorToolItem:hover {
  background-color: #23272e;
  cursor: pointer;
}

.EditorToolItemTitle {
  padding-left: 10px;
  width: 40px;
  color: #fff;
}

.EditorToolItemValue {
  padding-right: 10px;
  width: 100%;
  color: #444;
  overflow-x: hidden;
  display: flex;
  align-items: center;
}

.EditorToolItemValue span {
  line-height: 30px;
  user-select: none;
}

.EditorToolItems {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background: #1a1e22;
}

.EditorToolItemColor {
  width: 30px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
}

.EditorToolItemColorWheel {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.EditorToolColorPicker {
  position: absolute;
  bottom: calc(130px + 30px);
}
