.IconList {
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background: #1a1e22;
  overflow-y: auto;
  overflow-x: hidden;
  border-right: 1px solid #333;
}

.IconListTitle {
  font-size: 11px;
  margin: 0;
  width: 100%;
  background-color: #20232a;
  color: #bdc3bc;
  font-weight: normal;
  padding: 0 8px;
  line-height: 22px;
}

.IconListTitle span {
  color: #777;
  margin-left: 5px;
}

.IconListLogo {
  composes: IconListTitle;
  height: 50px;
  padding: 8px 3px;
  display: flex;
  align-items: center;
  user-select: none;
}

.IconListItem {
  font-size: 14px;
  cursor: pointer;
  min-height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 8px;
  color: #c8c3bc;
  white-space: nowrap;
  background-color: transparent;
}

.IconListItem:hover,
.IconListItemActive {
  background-color: #23272e;
}

.IconListItemRemoveIcon {
  color: #aaa;
}

.IconListItemRemoveIcon:hover {
  color: #eee;
}

.IconListItemFileName {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

.IconListItemAction {
  display: inline-flex;
  align-items: center;
  margin-left: auto;
  margin-right: 10px;
  width: 40px;
  justify-content: space-between;
  visibility: hidden;
  pointer-events: none;
}

.IconListItem:hover .IconListItemAction,
.IconListItemActiv .IconListItemAction {
  visibility: visible;
  pointer-events: all;
}

.IconListItemIcon {
  margin-right: 8px;
}

.IconListItemIcon svg {
  width: 14px;
  height: 14px;
  fill: #c9c1be;
}
