.Upload {
  font-size: 12px !important;
  user-select: none;
}

.Upload label {
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.Upload svg {
  margin-right: 5px;
}

.Upload input {
  position: absolute;
  visibility: hidden;
  pointer-events: none;
}
