.ImportButton {
  font-size: 12px;
  user-select: none;
  width: 100%;
  /* display: flex;
  align-items: center; */
}

.ImportButton svg {
  color: var(--txt-5);
  margin-right: 5px;
}

.ImportButton:hover svg {
  opacity: 0.8;
}

.ImportButton input {
  visibility: hidden;
  pointer-events: none;
}

.ImportButton label {
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
}

.ImportButton span {
  color: var(--txt-4);
  position: absolute;
  right: 20px;
  font-size: 10px;
  font-weight: bold;
  text-align: right;
  opacity: 0.4;
}
