.ImportButton {
  background-color: transparent;
  border: 0;
  font-size: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.ImportButton svg {
  color: var(--txt-5);
  margin-right: 5px;
}

.ImportButton:hover svg {
  opacity: 0.8;
}

.ImportButton input {
  visibility: hidden;
  pointer-events: none;
}

.ImportButton label {
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
}
