:root {
  --txt-1: #ffffff;
  --txt-2: #c8c3bc;
  --txt-3: #bdc3bc;
  --txt-4: #777777;
  --txt-5: #aaaaaa;
  --txt-6: #444444;

  --bg-1: #282c34;
  --bg-2: #1a1e22;
  --bg-3: #20232a;
  --bg-4: #23272e;

  --border-1: #333;
}

.App {
  background-color: var(--bg-1);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
