.EditorIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.EditorIconSVG {
  width: 500px;
  height: 500px;
  border: 1px solid var(--border-1);
  margin: 10px;
}

.EditorIconFrame {
  width: 500px;
  height: 500px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 10px 20px;
}

.EditorCurrentIconPath {
  opacity: 1;
  transition: 0.2s;
}

.EditorCurrentIconPathPassive {
  opacity: 0.1;
}
