.Editor {
  width: 100%;
  height: 100vh;
  background-color: #20232a;
  display: flex;
  margin: 0;
  overflow: hidden;
}

.EditorIconArea {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.EditorIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.EditorIconSVG {
  width: 500px !important;
  height: 500px !important;
  border: 1px solid #333;
  fill: #fff;
}

.EditorIconFrame {
  position: relative;
}

.EditorCurrentIconPath {
  opacity: 1;
  transition: 0.2s;
}

.EditorCurrentIconPathPassive {
  opacity: 0.1;
}
